<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>切换法院</string>
		<key>image</key>
		<string>切换法院</string>
	</dict>
	<dict>
		<key>title</key>
		<string>网上立案</string>
		<key>image</key>
		<string>首页_网上立案</string>
	</dict>
	<dict>
		<key>title</key>
		<string>案件查询</string>
		<key>image</key>
		<string>首页_案件查询</string>
	</dict>
	<dict>
		<key>title</key>
		<string>法院简介</string>
		<key>image</key>
		<string>首页_法院简介</string>
	</dict>
	<dict>
		<key>title</key>
		<string>开庭公告</string>
		<key>image</key>
		<string>首页_开庭公告</string>
	</dict>
	<dict>
		<key>title</key>
		<string>便民联络</string>
		<key>image</key>
		<string>首页_便民联络</string>
	</dict>
	<dict>
		<key>title</key>
		<string>公示曝光</string>
		<key>image</key>
		<string>首页_公示曝光</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文书送达</string>
		<key>image</key>
		<string>首页_文书送达</string>
	</dict>
	<dict>
		<key>title</key>
		<string>裁判文书</string>
		<key>image</key>
		<string>home_cpws</string>
	</dict>
	<dict>
		<key>title</key>
		<string>法院新闻</string>
		<key>image</key>
		<string>首页_法院新闻</string>
	</dict>
	<dict>
		<key>title</key>
		<string>12368</string>
		<key>image</key>
		<string>call</string>
	</dict>
	<dict>
		<key>title</key>
		<string>庭审直播</string>
		<key>image</key>
		<string>livinf2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>执行指引</string>
		<key>image</key>
		<string>zxzy</string>
	</dict>
	<dict>
		<key>title</key>
		<string>法院导航</string>
		<key>image</key>
		<string>fydh</string>
	</dict>
</array>
</plist>
